<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GitRepIncrementalSearch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2875C7E61D263C7D00C6230E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2875C7FA1D263C7E00C6230E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2875C8051D263C7E00C6230E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
